target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
/.idea/*
/database/
*.iml
/compose-ui/.gradle/
/compose-ui/.kotlin/
/compose-ui/.run/
/compose-ui/composeApp/build/
/compose-ui/build/
/compose-ui/.fleet/
/.env.base
/.env
/character-generator-service-firebase-adminsdk-fbsvc-e6f8e22e01.json
