name: Build Character Generator Starter

concurrency:
  group: pnp-build-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    paths:
      - build.gradle.kts
      - settings.gradle.kts
      - gradle/**
      - api/**
      - base/**
      - character-generator-starter/**
      - data/**
      - data-starter/**
      - monolith/**
      - genefunk/**
      - genefunk-starter/**
      - security/**
      - security-starter/**

jobs:
  build-and-deploy:
    uses: Matil86/github-actions/.github/workflows/pipeline-cloud-run-service.yaml@main
    with:
      build_image: character-generator-service
      service_name: character-generator-service
      build_folder: monolith
      build_native: false
      build_tool: gradle
    secrets: inherit